@media (max-width: 768px) {
  body {
    font-size: 6px;
  }
  .container {
    width: 100%;
    padding: 10px;
  }
}

@media (min-width: 768px) {
  body {
    font-size: 20px;
  }
  .container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
  }
}
*{
    text-align: center;
    background-color: lightslategrey;
    color: white;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 50px;
    font-style: normal;
    font-variation-settings:"wdth" 100;
}
.head{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    height: 64px;
    width: 64px;
    border-radius: 50%;
    margin-left: 2rem;
}
.logo img{
    border-radius: 50%;
}
.navBar{
    padding-right: 2rem;
    padding-top: 4px;
}
.navBar a{
    text-decoration: none;
    padding-right: 15px;
    border-style: groove;
    padding-left: 15px;
}
.navBar a:hover{
    color: black
}
#homePage{
    padding-top: 20rem;
    height: 1500px;
}
#aboutmePage{
    height: 1500px;
    margin-left: 150px;
    margin-right: 150px;
    padding-top: 25px;
}
.kiri{
    width: 50%;
    align-content: center;
    
}
.kiri ul{
    list-style: none;
}
.kiri h1{
  padding-left: 4%;  
}
.kanan{
    justify-items: right;
    padding-right: 21rem;
}
.kanan ul{
  list-style: none;
  padding-right: 27px;
}
.kiri-2{
    width: 50%;
    align-content: center;
}
.kiri-2 ul{
    list-style: none;
}
.kiri-2 h1{
    padding-left: 4%;  
}
#portofolioPage{
    height: 1500px;
    padding-top: 25px;
}
.grid {
  padding-top: 6%;
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 15px;
  height: 500px
}
.grid div {
  color: #000;
  padding: 10px;
  font-size: 30px;
  text-align: center;
}
#messageusPage{
  padding-top: 5rem;
  height: 1500px;
}
button{
  height: 100%;
  width: 5%
}